/* RESET & BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  background: #020617;
  color: #e5e7eb;
  overflow: hidden;
}

/* TOP NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #020617;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

.navbar .logo {
  font-size: 1.2rem;
  color: #60a5fa;
  font-weight: bold;
}

/* Tabs */
.tabs-container {
  display: flex;
  align-items: center;
}

.tabs {
  position: relative;
  display: flex;
  gap: 20px;
}

.glider {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: #185ee0;
  border-radius: 2px;
  transition: transform 0.25s ease-out, width 0.25s ease-out;
  z-index: 0;
}

.tabs * {
  z-index: 2;
}

.tabs input[type="radio"] {
  display: none;
}

.tab {
  padding: 8px 15px;
  font-size: 0.9rem;
  color: #e5e7eb;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.2s ease-in;
  position: relative;
}

.tabs input[type="radio"]:checked + label {
  color: #185ee0;
  font-weight: 600;
}

#radio-1:checked ~ .glider { transform: translateX(0%); width: 60px; }
#radio-2:checked ~ .glider { transform: translateX(100%); width: 80px; }
#radio-3:checked ~ .glider { transform: translateX(200%); width: 80px; }
#radio-4:checked ~ .glider { transform: translateX(300%); width: 80px; }

/* HEADER & SECTIONS */
header, section {
  min-height: 100vh;
  padding-top: 80px; /* leave space for navbar */
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  scroll-snap-align: start;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

header.visible, section.visible {
  opacity: 1;
  transform: translateY(0);
}

header h1 {
  font-size: 2.75rem;
  margin-bottom: 10px;
}

header { background: linear-gradient(135deg, #020617, #020b2d); align-items: center;}
.section.one { background: linear-gradient(135deg, #020617, #03123f); }
.section.two { background: linear-gradient(135deg, #03123f, #041a5c); }
.section.three { background: linear-gradient(135deg, #041a5c, #06247a); }

section h2 {
  font-size: 2.2rem;
  margin-bottom: 15px;
}

section p {
  max-width: 600px;
  opacity: 0.8;
  line-height: 1.6;
  padding-bottom: 10px;
  padding-left: none;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
}

.btn {
  color: #b8b8b8;
  padding: none;
  text-decoration: none;
}

li {
  margin-bottom: 10px;
  color: #b8b8b8;;
}